#landingButton {
  text-align: center;
  margin-top: 150px;
}
.background {
  background: url('../images/background.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header{
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
h2.header{
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.centeredContainer {
  text-align: center;
}
.landingTitle{
  margin-top: 50px;
}
.logoImage {
  margin-top: 150px;
  margin-bottom: 20px;
  width: 100%;
}

.tabs {
  margin: 50px 0;
}
.topic-title {
  font-family: 'Rubik',sans-serif;
  font-weight: lighter;
}
#topicsDiv {
  background-color: white;
}
