#landingButton {
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 1px 10px;
}
.background {
  background: url('../images/background.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header{
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
h2.header{
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.centeredContainer {
  text-align: center;
}
.landingTitle{
  margin-top: 50px;
}
.logoImage {
  margin-top: 150px;
  margin-bottom: 20px;
  width: 100%;
}
.tabs {
  margin: 50px 0;
}
.topic-title {
  font-family: 'Rubik',sans-serif;
  background-color: #FCFCFC;
  border-radius: 5px;
  color: black;
  font-size: 17px;
  padding: 10px;
}
#topicsDiv {
  background-color: rgba(244,244,244,.6);
  margin-top: 10px;
  border-radius: 5px;
 }
.topicHeader{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.userPhoto{
  max-width: 130px;
  margin-top: 10px;
  background-color: white;
  padding: 3px;
}
