body {
  background: url('../images/background.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
a {
  color: #26547C;
}
a:hover {
  background-color: #E9168C;
  text-decoration: none;
}
.landingButton {
  text-align: center;

  padding-bottom: 50px;
  padding-top: 20px;
  background-color: #78909B;

}
.landingbutton:hover {
  background-color: #011627;
}
.newProjectBtn {
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 1px 10px;
  background-color: #26547C;
  height: 50px;
  width: 280px;
}
.header{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}
h2.header{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
.centeredContainer {
  text-align: center;
}
.landingTitle{
  margin-top: 50px;
}
.logoImage {
  margin-top: 110px;
  margin-bottom: 20px;
  width: 100%;
}
.tabs {
  margin: 50px 0;
}
.topicHeader{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.topic-title {
  font-family: 'Roboto', sans-serif;
  background-color: #FCFCFC;
  border-radius: 5px;
  color: black;
  font-size: 17px;
  padding: 10px;
  text-align: center;
}
.topic-title-header {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
#topicsDiv {
  background-color: rgba(244,244,244,.6);
  margin-top: 10px;
  border-radius: 5px;
 }
.ideaName {
  border-radius: 5px;
  clear: right;
  margin: 1px 0 33px 0;
}
.idea-title-header {
  background-color: rgba(244,244,244,.6);
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  text-align: left;
  padding: 10px;
  margin: 25px 0 -10px -8px;
}
.ideasContainer {
  overflow: hidden;
  padding: -10px 0 0 0;
  /*background-color: rgba(244,244,244,.6);*/
}
.userPhoto{
  max-width: 130px;
  margin-top: 10px;
  background-color: white;
  padding: 3px;
}
.add-topic-info {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.form-control {
  margin: 8px;
  width: 395px;
  text-align: center;
}
.save {
  margin: 20px 0 0 8px;
  background-color: #26547C;
}
.addMore{
  margin: 0 0 0 8px;
  background-color: rgba(255,240,216,0.8);
  font-size: 12px;
  color: black;
}
.voteContainer {
  float: left;
  clear: left;
  margin: 10px 0 10px 0;
}
.upVoteIcon {
  font-size: 15px;
  margin: 2px;
}
.upVoteIcon:hover {
  font-size: 15px;
  margin: 2px;
  color: #3E88FB;
}
.downVoteIcon {
  font-size: 15px;
  margin: 2px;
}
.downVoteIcon:hover {
  color: #F67445;
}
.upVoteText {
  font-size: 15px;
  margin: -8px 0 -8px 5px;
}
.signOutColor {
  background-color: #26547C;
}
.menuButto:hover {
  background-color: #011627;
}
.form-control {
  width: 270px;
}
.centerItems {
  text-align: center;
  margin: 0auto;
}
#noMargin {
  margin: 0;
}
.landingHeader {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
}
.background {
  background-color: white;
}
.mui-textfield>input, .mui-textfield>textarea {
  padding-left: 10px;
}
#add-margin {
  margin-top: 20px;
}
.mui-appbar{
  background-color: rgba(255, 255, 255, 0.37);
}
#noPadding {
  padding-top: 0px;
  padding-bottom: 0px;
}
#landing-button{
  margin-top: 20px;
}
.mui-btn--accent{
  margin-top: 50px;
}
#landing-header{
  margin-botton: 20px;
}
.logoImage{
  margin-botton: 40px;
}
